#logo{
    height: 500px;
    width: auto; 
    margin: 10px 50px;
}



.nav-wrapper2{
    background-color:#fff;
    text-emphasis-color: #000000;
}

.nav-wrapper{
    background-image:url("../../../assets/resources/WEB BG.png");
}

/*
.row{
    height: auto;
    margin: 0px;
}*/

.cl1{
    height: auto;
    margin:0px;
}

.cl2{
    margin: 60px;
}

.ed-text{
    color: #5E581B;
    text-align: center;
    font-weight:bolder;
}

.card-content{
    border-width: 0px;
    background-color: transparent;
    border-color: transparent;
    height: 500px;
    width: auto;
}