<!--DISCOGRAFÍA-->
<app-body></app-body>

<div class="nav-wrapper">

  <div class =" col l12 s8 m10">
    <img class ="col l4 left"  src="../../../assets/resources/special.JPG" id="logo"> 
    <div>
      <h5 class="col l4 left pull-l2 ed-text">Special</h5>
    </div>
  </div>

  <img src="../../../assets/resources/cuz i love you.JPG" id="logo" class="right">
  <img src="../../../assets/resources/big grrrl small world.jpg" id="logo" class="right">
  <img src="../../../assets/resources/albums.jpg" id="logo" class="right">


</div>