.icons{
    height: 20px;
    width: auto; 
    margin: 5px 8px ;

}

.test{
    border-width: 1px;
    border-color: darkorchid;
    border-style: solid;
    margin: auto;
}

.row{
    margin: 0px;
}

#logo{
    height: 50px;
    width: auto; 
    margin: 10px 15px;
}

.nav-wrapper{
    background-color:#F6EEF6 ;
    text-emphasis-color: #000000;
}

.ed-text{
    color: #5E581B;
}