<!-- MENÚ-->
<div>
    <nav>
        <div class="nav-wrapper row">
            <a href="#!" class="brand logo col l2 s8 left icons">
                <img src="../../../assets/resources/lizzo_logo.png" id="logo">
            </a>
            <ul class="hide-on-med-and-down nav-wrapper col l8 s12 left">
                <li><a href="#" class="black-text valign-wrapper icons ">SOBRE LIZZO</a></li>
                <li><a href="#" class="pink-text valign-wrapper  icons">MÚSICA</a></li>
                <li><a href="#" class="black-text valign-wrapper  icons">PREMIOS</a></li>
                <li><a href="#" class="black-text valign-wrapper  icons">TIENDA</a></li>
                <li><a href="#" class="black-text valign-wrapper  icons">APARICIONES</a></li>
                <li><a href="#" class="black-text valign-wrapper  icons">GALERÍA</a></li>
                <li><a href="#" class="black-text valign-wrapper  icons">FORO</a></li>
            </ul>
        </div>
    </nav>
</div>

    
<!--
    <div class="col l2 "><a href="#">SOBRE LIZZO</a></div>
    <div class="col l1"><a href="#">MÚSICA</a></div>
    <div class="col l1"><a href="#">PREMIOS</a></div>
    <div class="col l1"><a href="#">TIENDA</a></div>
    <div class="col l2"><a href="#">APARICIONES</a></div>
    <div class="col l2"><a href="#">GALERIA</a></div>
    <div class="col l1"><a href="#">FORO</a></div>
  </div>
-->