<div class="nav-wrapper row">
    <div class="col s7 m7 l4">
          <img src="../../../assets/resources/special.JPG" id="stream" class="right">
          <div class= "col l8 push-l2">
            <h3 class="ed-textHeader">Special </h3> <h5 class="ed-textHeader2">2022</h5>
            <h6 class="ed-textBtext">Special es el cuarto álbum de estudio de la cantante y rapera estadounidense Lizzo, lanzado por Nice Life y Atlantic Records el 15 de julio de 2022.</h6>
        </div>
    </div>

    <div> </div>
    <div class ="row">
        <a href="https://music.apple.com/mx/album/the-sign/1619161952?i=1619162348" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-apple-music-white.png" id="logo">
            </a>
    </div>

    <div class ="row">
        <a href="https://open.spotify.com/track/7GSwmKxanoWEdpurOCldDe?si=b006204377f040b0" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-spotify.png" id="logo">
            </a>
    </div>
   
    <div class ="row">
        <a href="https://music.apple.com/mx/album/the-sign/1619161952?i=1619162348" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-apple-music-white.png" id="logo">
            </a>
    </div>
    
    <div class ="row">
        <a href="https://open.spotify.com/track/7GSwmKxanoWEdpurOCldDe?si=b006204377f040b0" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-spotify.png" id="logo">
            </a>
    </div>
    <div class ="row">
        <a href="https://music.apple.com/mx/album/the-sign/1619161952?i=1619162348" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-apple-music-white.png" id="logo">
            </a>
    </div>
    
    <div class ="row">
        <a href="https://open.spotify.com/track/7GSwmKxanoWEdpurOCldDe?si=b006204377f040b0" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-spotify.png" id="logo">
            </a>
    </div>
    <div class ="row">
        <a href="https://music.apple.com/mx/album/the-sign/1619161952?i=1619162348" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-apple-music-white.png" id="logo">
            </a>
    </div>
    
    <div class ="row">
        <a href="https://open.spotify.com/track/7GSwmKxanoWEdpurOCldDe?si=b006204377f040b0" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-spotify.png" id="logo">
            </a>
    </div>
    <div class ="row">
        <a href="https://music.apple.com/mx/album/the-sign/1619161952?i=1619162348" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-apple-music-white.png" id="logo">
            </a>
    </div>
    
    <div class ="row">
        <a href="https://open.spotify.com/track/7GSwmKxanoWEdpurOCldDe?si=b006204377f040b0" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-spotify.png" id="logo">
            </a>
    </div>
    <div class ="row">
        <a href="https://music.apple.com/mx/album/the-sign/1619161952?i=1619162348" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-apple-music-white.png" id="logo">
            </a>
    </div>
    
    <div class ="row">
        <a href="https://open.spotify.com/track/7GSwmKxanoWEdpurOCldDe?si=b006204377f040b0" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-spotify.png" id="logo">
            </a>
    </div>
    <div class ="row">
        <a href="https://music.apple.com/mx/album/the-sign/1619161952?i=1619162348" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-apple-music-white.png" id="logo">
            </a>
    </div>
    
    <div class ="row">
        <a href="https://open.spotify.com/track/7GSwmKxanoWEdpurOCldDe?si=b006204377f040b0" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-spotify.png" id="logo">
            </a>
    </div>
    <div class ="row">
        <a href="https://music.apple.com/mx/album/the-sign/1619161952?i=1619162348" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-apple-music-white.png" id="logo">
            </a>
    </div>
    
    <div class ="row">
        <a href="https://open.spotify.com/track/7GSwmKxanoWEdpurOCldDe?si=b006204377f040b0" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-spotify.png" id="logo">
            </a>
    </div>
    <div class ="row">
        <a href="https://music.apple.com/mx/album/the-sign/1619161952?i=1619162348" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-apple-music-white.png" id="logo">
            </a>
    </div>
    
    <div class ="row">
        <a href="https://open.spotify.com/track/7GSwmKxanoWEdpurOCldDe?si=b006204377f040b0" class="brand logo col l1 center">
            <img src="../../../assets/resources/listen-on-spotify.png" id="logo">
            </a>
    </div>

    
        <div class= "col l8 push-l2">
            <h6 class="ed-textBtext2">1. The Sign <br> <br><br>2. About Damn Time <br> <br><br>
                3. Grrls <br> <br><br> 4. 2 Be Loved (Am I Ready) <br> <br><br>
                5. I Love You Bitch  <br> <br><br> 6. Special <br> <br><br>
                7. Break Up Twice  <br> <br><br> 8. Everybody's Gay <br> <br><br>
                9. Naked  <br> <br><br><br></h6>
        </div>
    </div>